
.LOCALIZABUS{
    text-align: center;
    color: #9FC131;
    background-color:#005C53;
    padding: 10px;
    height: 40px;
    
}
.MAPA{
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
}