
.LOCALIZABUS{
    text-align: center;
    color: #9FC131;
    background-color:#005C53;
    border-radius: 10px;
}
main{
    display: flex;
    justify-content: center;
}  
.botao{
    display: flex;
    justify-content: center;
    background-color: #005C53;
    width: 90;
    color:#D6D58E;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #9FC131;
}
