:root {
    --color-button-selected: #c4fbf6;
    --color-button-deselected: #005C53;
}

*{
    margin: 0;
    padding: 0;
}

#map {
    height: 90%;
    width: 50%;
}

header{
    height: 10%;
}
footer {
    height: 5%;
    bottom: 0;
    left: 0;
}
.main-cards{
    margin: 30px;
}
.FACILITABUS{
    text-align: center;
    color: #9FC131;
    background-color:#005C53;
}
.MAPA{
    text-align: center;
}

main{
    min-height: 100px;
    height: 84%;
    max-height: 800px;

    display: flex;
    justify-content: center;
    flex-direction: row;
}
.botao{
    display: flex;
    justify-content: center;
    background-color :var(--color-button-deselected);
    width: 90;
    color:#D6D58E;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #9FC131;
}
.distancias{
    color:#9FC131;
}

.fraseMassa{
    padding: 2px;
    height: 100%;
    background-color :#005C53;
    color: #9FC131;
    text-align: center;
    border:2px solid #9FC131;
}