
#map { 
    height: 500px;
    width: 750px;
}

.FACILITABUS{
    text-align: center;
    color: #9FC131;
    background-color:#005C53;
    padding: 10px;
    height: 40px;
    
}
.MAPA{
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.botao{
    display: flex;
    justify-content: center;
    background-color :#005C53;
    width: 90;
    color:#D6D58E;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #9FC131;
}
.distancias{
    color:#9FC131;
}

.fraseMassa{
    height: 50px;
    background-color :#005C53;
    color: #9FC131;
    text-align: center;
    width: auto;
    border:2px solid #9FC131;
}